.game-menu__header {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 13px;
}

@media only screen and (max-width : 480px) and (orientation: portrait) {
  .game-menu__header {
    position: absolute;
    top: -0.5em;
    transform: translateY(-100%);
    padding: 0 4%;
    margin-bottom: 0;
  }
}

@media only screen and (max-width : 900px) and (orientation: landscape) {
  .game-menu__header {

  }
}