.field__header__error {
  max-width: 70%;
  font-size: 0.8em;

  word-break: break-word;
  @extend %error;
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
  .field__header__error {
    padding-right: calc(10px + 2%);
    font-size: calc(0.6em + 0.7vh);
  }
}

@media only screen and (max-width : 900px) and (orientation: landscape) {
  .field__header__error {
    padding-right: calc(10px + 2%);
    font-size: calc(0.6em + 0.7vw);
  }
}