label.carusel__arrow.left__arrow
    img(src='img/left-arrow.svg')
each game in games
    label
        div.carusel__item(data-content=game.title)
label.carusel__arrow.right__arrow
    img(src='img/left-arrow.svg')