label
    img.carousel__arrow.carousel__arrow_direction_left.pointer(src='img/left-arrow.svg')
each game in games
    label
        .carousel__item.pointer(data-content=game.title, data-slug=game.slug)
            img.carousel__item__image(src=`https://warscript-images.herokuapp.com/photos/${game.background_uuid}`)
label
    img.carousel__arrow.carousel__arrow_direction_right.pointer(src='img/left-arrow.svg')