.alert__content {
  position: relative;
  max-width: 375px;
  padding: 1.3em;
  padding-right: 2.9em;
  margin-bottom: 1vw;
  background: $backgroundColor2;
  font-size: 0.75em;
  line-height: 1.15;
}

.alert__content:first-child {
  margin-bottom: 0;
}
