.play__item__horizontal-line {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  margin-top: 2%;
  background: $fontColorWhite;

  z-index: 5;
}

.play__item__horizontal-line:hover {
  background: $fontColorYellow;
}