.footer {
  display: flex;
  justify-content: space-between;
  transition: all 1.2s ease 0.3s;
}

@media only screen and (max-width : 480px) and (orientation: portrait) {
  .footer {
    display: none;
  }
}

@media only screen and (max-width : 900px) and (orientation: landscape) {
  .footer {
    display: none;
  }
}