input.hidden(id=`alert${id}` type='button')
label.close-button.close-button_theme_alert.pointer(for=`alert${id}`)
    svg.close-icon(viewbox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
        path.close-icon_vec(d='M31.9092 2.21177L29.7878 0.0904541L15.9993 13.879L2.21076 0.0904541L0.0893555 2.21177L13.8779 16.0004L0.0893555 29.7889L2.21068 31.9103L15.9993 18.1217L29.7878 31.9103L31.9092 29.7889L18.1206 16.0004L31.9092 2.21177Z')
.alert__content__text