.photo-loader
    form.photo-loader__form
        .photo-loader__text
            | Upload images using the file selection dialog or dragging the desired images into the selected area
        input#fileElem.load-avatar.hidden(type='file' accept='image/jpeg,image/png,image/gif')
        label.photo-loader__button(for='fileElem')
            div.button.button_theme_main.button_size_s.pointer Choose photo
    .photo-loader__resize.hidden
        img.photo-loader__resize__image
        .photo-loader__resize__frame
            .photo-loader__resize__frame__sliders.photo-loader__resize__frame__sliders_direction_left-bottom
            .photo-loader__resize__frame__sliders.photo-loader__resize__frame__sliders_direction_left-top
            .photo-loader__resize__frame__sliders.photo-loader__resize__frame__sliders_direction_right-bottom
            .photo-loader__resize__frame__sliders.photo-loader__resize__frame__sliders_direction_right-top
    .photo-loader__footer.hidden
        button.button.button_theme_submit.button_size_s.button_theme_photo-loader.pointer Save