.background.background_theme_base

input#full-screen.hidden(type='checkbox')
label.full-screen-button.full-screen_button_direction_top-right.pointer(for='full-screen')
    img.full-screen__content.full-screen__content_direction_center(src='img/full-screen.svg')

input#logo.hidden(type='button')
label.logo.logo_theme_main.logo_direction_top-right.pointer(for='logo')
    .logo__main.logo__main_theme_main.light-l-yellow [ WarScript ]
    .logo__postscript.logo__postscript_theme_main by HotCode

.content.nav-content
    input#showmenu.hidden(type='checkbox')
    label.nav-button(for='showmenu')
        span.nav-button__line
    label.background.background_theme_nav-menu(for='showmenu')
    .nav-menu

input#profile.hidden(type='button')
label.header.header_direction_top-left.header__item.light-s-white.scale-on-hover.pointer.hidden(for='profile') {User Data}

.modal__window

.modal__windows
    input#mod0.modal__check.hidden(type='radio', name='modal')
    input#mod1.modal__check.hidden(type='radio', name='modal')
    input#mod2.modal__check.hidden(type='radio', name='modal')

.base-container.footer.footer_direction_bottom
    .footer__container-item.footer__container-item_size_s.hidden
        .footer__item
            label.footer__item__link.light-s-white.scale-on-hover.pointer(for='mod1') Sign in
        .footer__item
            label.footer__item__link.light-s-white.scale-on-hover.pointer(for='mod2') Sign up
    input#signout.hidden(type='button')
    .footer__item
        label.footer__item__link.light-s-white.pointer.scale-on-hover.hidden(for='signout') Log out