.background
input#full-screen(type='checkbox')
label.full-screen(for='full-screen')
    img(src='img/full-screen.svg')
input#logo(type='button')
label.logo__button(for='logo')
    .logo [ WarScript ]
    .logo__postscript by HotCode
nav.nav
    input#showmenu.nav__check(type='checkbox')
    label.nav__showmenu(for='showmenu')
        span
    label.nav__back(for='showmenu')
    .menu
input#profile(type='button')
label.profile__button.hidden(for='profile') {User Data}
.modal__window
.modal__windows
    input#mod0.modal__check(type='radio', name='modal')
    input#mod1.modal__check(type='radio', name='modal')
    input#mod2.modal__check(type='radio', name='modal')
footer.container
    .footer__left__content.hidden
        .footer__content__item
            label(for='mod1') Sign in
        .footer__content__item
            label(for='mod2') Sign up
    input#signout.hidden(type='button')
    .signout.footer__content__item
        label.hidden(for='signout') Log out
    a.about.footer__content__item About us