.background.background_theme_base

.random-elements_squares
.random-elements

.options

input#logo.hidden(type='button')
label.logo.logo_theme_main.logo_direction_top-right.pointer(for='logo')
    .logo__main.logo__main_theme_main [ WarScript ]
    .logo__postscript.logo__postscript_theme_main by HotCode

.content.nav-content
    input#showmenu.hidden(type='checkbox')
    label.nav-button(for='showmenu')
        span.nav-button__line
    label.background.background_theme_nav-menu(for='showmenu')
    .nav-menu
        .nav-menu__container-item
            label.nav-menu__item.pointer.hidden(for='profile') Profile
            label.nav-menu__item.pointer.hidden(for='mod1') Sign in
            label.nav-menu__item.pointer.hidden(for='mod2') Sign up
        .nav-menu__container-item
            label.nav-menu__item.pointer.hidden(for='signout') Log out
            label.nav-menu__item.pointer(for='chat') Chat

input#profile.hidden(type='button')
label.header.header_direction_top-left.header__item.link2.pointer.hidden(for='profile') {User Data}

.modal__window

.modal__windows
    input#mod0.modal__check.hidden(type='radio', name='modal')
    input#mod1.modal__check.hidden(type='radio', name='modal')
    input#mod2.modal__check.hidden(type='radio', name='modal')

.base-container.footer.footer_direction_bottom
    .footer__container-item.footer__container-item_size_s.hidden
        .footer__item
            label.footer__item__link.link2.pointer(for='mod1') Sign in
        .footer__item
            label.footer__item__link.link2.pointer(for='mod2') Sign up
    input#signout.hidden(type='button')
    .footer__item
        label.footer__item__link.link2.pointer.hidden(for='signout') Log out
    input#chat.hidden(type='checkbox')
    .footer__item
        label.footer__item__link.link2.pointer(for='chat') Chat