.main {
  position: absolute;
  display: flex;
  width: 64.53%;
  min-width: 615px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
}

.main__center {
  margin: 0 10px;
}

.main__screen img{
  width: calc(49vw);
  min-width: 516.27px;
  min-height: 253.75px;

  border-radius: 15px;
  background: rgba(247, 71, 124, 1);
}

.main__screen::before {
  content: '';
  padding-top: 50%;
  float: left;
}
.main__screen::after {
  content: '';
  display: block;
  clear: both;
}

.main__left__arrow {
  width: 5.86%;
  min-width: 35.45px;
  min-height: 86.05px;
}

.main__right__arrow {
  width: 5.86%;
  min-width: 35.45px;
  min-height: 86.05px;
}

.main__head {
  position: relative;
  bottom: 8%;
  text-align: center;

  @extend %white;
  font-size: 38px;
}

.main__name__game {
  position: relative;
  top: 6%;

  font-family: $fontFamalyLogo;
  color: $fontColorYellow;
  font-size: 38px;
}