.alert__container {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  top: 1vw;
  right: 1vw;
  z-index: 25;
  //transform: translateX(110%);
  //transition: transform .3s;
}

.alert__container input {
  display: none;
}

.alert, .alert__error {
  position: relative;
  width: 27vw;
  min-width: 350px;
  padding: 5% 10% 5% 5%;
  margin-bottom: 1vw;
  background: $backgroundColor2;
  border-radius: 0.7em;
  font-size: 0.75em;
  line-height: 1.15;
}

.alert {
  @extend %white;
}

.alert__error {
  @extend %error;
}

.alert:last-child {
  margin-bottom: 0;
}

.alert__close {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 25px;
  text-align: center;
  border-radius: 50%;
  font-size: 33px;
  line-height: 25px;
  font-family: serif;
  color: $fontColorWhite;
}

.alert__close:hover {
  color: $fontColorYellow;
}