footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 3%;
  right: 0;
  left: 0;
}

.footer__left__content {
  display: flex;
  justify-content: space-between;
  width: 21%;
  min-width: 290px;
  max-width: 500px;
}

.footer__left__content .footer__content__item {  // TODO Динамическая ширина
  width: 50%;
}

.footer__content__item label {
  cursor: pointer;
  user-select: none;
}

.footer__content__item {
  @extend %white;
  white-space: nowrap;
}

.footer__content__item label:hover {
  transition: .3s ease-in-out;
  @extend %whiteLiteLight;
}

#signout {
  display: none;
}

