.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0 2.34%;
  bottom: 29px;
  right: 0;
  left: 0;
}

.footer__left__content {
  display: flex;
  justify-content: space-between;
  width: 21%;
  min-width: 290px;
}

.footer__left__content a {
  width: 50%;
}

.footer__content__item {
  @extend %white;
  white-space: nowrap;
  font-size: 25px;
}

.footer__content__item:focus {
  @extend %yellow;
}

.footer__content__item:hover {
  text-decoration-line: underline;
}