.form__logo {
  position: relative;
  left: -44px;
  margin-bottom: 4%;

  @extend %yellowLogo;
  font-size: 1.8em;
}

.modal__info form {  // TODO Убрать этот костыль
  margin-bottom: 27.22%;
}

.form__input {
  margin-bottom: 4%;
}

.form__input__header {
  display: flex;
  height: 0.8em;
  max-width: 399px;
  width: 73vw;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row-reverse;
  margin-bottom: 1.5%;
}

.form__error {
  max-width: 70%;
  font-size: 0.8em;

  word-break: break-word;
  @extend %error;
}

.form__input__label {
  position: relative;
}

$input_padding: calc(10px + 2%);

.form__input input{
  max-width: 399px;
  width: 73vw;
  height: 2.25em;
  padding-left: $input_padding;
  box-sizing: border-box;

  @extend %white;
  border: 2px solid $fontColorWhite;
  border-radius: 15px;
  outline: none;
  font-size: 0.9em;
  font-weight: 300;
  background: rgba(0, 0, 0, 0);
}

.form__show__password {
  position: absolute;
  top: 50%;
  transform: translate(-160%, -50%);
  display: inline-block;
  cursor: pointer;
}

.form__label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-135%);

  @extend %white;
  font-size: 0.9em;
}

.form__input:last-child{
  margin-bottom: 0;
}

.form__input input::placeholder{
  opacity: 0;
}

.form__input input:placeholder-shown:focus ~ .form__label{
  top: 0;
  left: 0;
  transform: translateY(-135%);
}

.form__input input:placeholder-shown ~ .form__label{
  top: 50%;
  left: $input_padding;
  transform: translateY(-50%);
  color: rgba(238, 238, 238, 0.5);
  pointer-events: none;
}


.form__input input:focus{
  color: $fontColorYellow;
  border: 2px solid $fontColorYellow;
}

.form__input input:focus ~ .form__label,
.form__input input:focus ~ .form__show__password{
  color: $fontColorYellow;
}

.form__buttons {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 7%;
}

.form__button * {
  white-space: nowrap;
  cursor: pointer;
}

.form__button {
  margin-left: 7%;
}

.form__button:last-child {
  margin-left: 0;
}

.form__button button[type='submit'] {
  width: 146px;
  height: 2.25em;
  box-sizing: border-box;
  overflow: hidden;

  @extend %yellow;
  font-size: 0.9em;
  border: 2px solid $fontColorYellow;
  border-radius: 15px;
  outline: none;
  background: rgba(0, 0, 0, 0);
}

.form__button button[type='submit']:hover {
  transition: .3s ease-in-out;
  filter: drop-shadow($fontColorYellowLight 0 0 10px);
}

.form__button div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 146px;
  height: 2.25em;
  box-sizing: border-box;
  overflow: hidden;

  @extend %white;
  font-size: 0.9em;
  border: 2px solid $fontColorWhite;
  border-radius: 15px;
  outline: none;
  background: rgba(0, 0, 0, 0);
}

.form__button div:hover {
  transition: .3s ease-in-out;
  filter: drop-shadow($fontColorWhite 0 0 10px);
}