#logo {
  display: none;
}

.logo__button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 1.8%;
  right: 13.34%;
  white-space: nowrap;
  cursor: pointer;
  z-index: 9;
}

.logo {
  font-family: $fontFamalyLogo;
  font-weight: 500;
  font-size: 2.4em;

  color: $fontColorYellow;
}

.logo__postscript {
  margin-top: 2%;
  @extend %white;
  font-weight: 300;
  font-size: 0.9em;
}