.main {
  position: absolute;
  width: 49.53%;
  min-width: 615px;
  max-width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main__center {
  width: 100%;
}

.main__center::before {
  content: 'Choose a ${game}';
  position: relative;
  bottom: 2vw;
  left: 50%;
  transform: translateX(-50%);

  display: inline-block;
  @extend %white;
  font-size: calc(1em + 0.6vw);
  white-space: nowrap;
  z-index: 5;

}

.carusel{
  position: relative;
  width: 100%;
  perspective: 800px;
}

.carusel::before {
  content: '';
  padding-top: 50%;
  float: left;
}
.carusel::after {
  content: '';
  display: block;
  clear: both;
}

.carusel__item {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/Data-wing-4_1516196099-e1516208811916.jpg");
  background-size: contain;
  will-change: transform;
  backface-visibility: hidden;
  border-radius: 1.25vw;
  transition: .5s ease-in-out 0s, transform 0s ease 0s;
}

.prev__item {
  left: -25%;
  z-index: -1;
  transform-origin: left center;
  transform: rotateY(30deg) scale(0.75);
  animation-duration: 1s;
  animation-fill-mode: both;
}

.center__item {
  left: 0;
  box-shadow: -60px 0 136px -15px rgba(0,0,0,.67),
  60px 0 136px -15px rgba(0,0,0,.67),
  5px 5px 15px 5px transparent;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.center__item::after {
  content: '<' attr(data-content) '/>';
  position: absolute;
  bottom: -15%;

  display: inline-block;
  @extend %yellowLogo;
  font-size: calc(1em + 0.6vw);
  white-space: nowrap;
  z-index: 5;
}

.next__item {
  left: 25%;
  z-index: -1;
  transform-origin: right center;
  transform: rotateY(-30deg) scale(0.75);
  animation-duration: 1s;
  animation-fill-mode: both;
}

.carusel label {
  cursor: pointer;
}

.carusel__arrow{
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 7.66%;
  min-width: 35.45px;
  min-height: 86.05px;
  transform: translate(-200%, -50%);
}

.left__arrow {
  left: 0;
}

.right__arrow {
  right: 0;
  transform: translate(200%, -50%) rotate(180deg);
}

.carusel__arrow img{
  width: 100%;
}

.outleft {
  animation-name: outleft;
}

.inleft {
  animation-name: inleft;
}

.outright {
  animation-name: outright;
}

.inright {
  animation-name: inright;
}

@keyframes outleft {
  0% {
    transform-origin: left center;
    transform: rotateY(30deg) scale(0.75);
  }

  100% {
    transform-origin: center center;
    transform: rotateY(0) scale(1);
  }
}

@keyframes inleft {
  0% {
    transform-origin: center center;
    transform: rotateY(0) scale(1);
  }

  100% {
    transform-origin: left center;
    transform: rotateY(30deg) scale(0.75);
  }
}

@keyframes outright {
  0% {
    transform-origin: right center;
    transform: rotateY(-30deg) scale(0.75);
  }

  100% {
    transform-origin: center center;
    transform: rotateY(0) scale(1);
  }
}

@keyframes inright {
  0% {
    transform-origin: center center;
    transform: rotateY(0) scale(1);
  }

  100% {
    transform-origin: right center;
    transform: rotateY(-30deg) scale(0.75);
  }
}