.main {
  position: absolute;
  width: 49.53%;
  min-width: 615px;
  max-width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main__center {
  width: 100%;
}

.main__center::before {
  content: 'Choose a ${game}';
  position: relative;
  bottom: 2vw;
  left: 50%;
  transform: translateX(-50%);

  display: inline-block;
  @extend %white;
  font-size: calc(1em + 0.6vw);
  white-space: nowrap;
  z-index: 5;

}

.carusel input{display: none;}

.carusel{
  position: relative;
  width: 100%;
  user-select: none;
  perspective: 800px;
}

.carusel::before {
  content: '';
  padding-top: 50%;
  float: left;
}
.carusel::after {
  content: '';
  display: block;
  clear: both;
}

.carusel__item {
  position: absolute;
  z-index: 2;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-image: url("../img/Data-wing-4_1516196099-e1516208811916.jpg");
  background-size: contain;
  will-change: transform;
  backface-visibility: hidden;
  border-radius: 1.25vw;
}

.carusel label {
  cursor: pointer;
}

.carusel__arrow{
  display: none;
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 7.66%;
  min-width: 35.45px;
  min-height: 86.05px;
  transform: translate(-200%, -50%);
}

.carusel__arrow img{
  width: 100%;
}

.carusel input:checked+div *, input:checked+div+input+div .carusel__item, .carusel input:checked+div+input+div+input+div * {
  display: block;
}

input:checked+div .carusel__item {
  left: -25%;
  transform: rotateY(30deg) scale(0.75);
  transform-origin: left center;
  z-index: -1;
}
input:checked+div+input+div .carusel__item {
  left: 0;
  transform: rotate(0) scale(1);
  transform-origin: 50% 50% 0;
  box-shadow: -60px 0 136px -15px rgba(0,0,0,.67),
  60px 0 136px -15px rgba(0,0,0,.67),
  5px 5px 15px 5px transparent;
}

input:checked+div+input+div .carusel__item::after {
  content: '< DATA WING />';
  position: absolute;
  bottom: -15%;

  display: inline-block;
  @extend %yellowLogo;
  font-size: calc(1em + 0.6vw);
  white-space: nowrap;
  z-index: 5;
}

input:checked+div+input+div+input+div .carusel__item {
  left: 25%;
  transform: rotateY(-30deg) scale(0.75);
  transform-origin: right center;
  z-index: -1;
}

input:checked+div .carusel__arrow {
  left: 0;
}

input:checked+div+input+div+input+div .carusel__arrow {
  right: 0;
  transform: translate(200%, -50%) rotate(180deg);
}