@media only screen and (max-width: 480px) and (orientation: portrait) {
  .modal {
    position: absolute;
    top: 45%;
    height: fit-content;
    width: 100%;
    transform: rotate(0) translate(-50%, -50%);

    background: $backgroundColor5;
    border-radius: 0;
  }

  .modal::before {
    content: none;
  }
  .modal::after {
    content: none;
  }

  .modal__info {
    transform-origin: 50% 50% 0;
    transform: rotate(0);
    padding: 6% 0;
  }
}

@media only screen and (max-width : 900px) and (orientation: landscape) {
  .modal {
    position: absolute;
    height: fit-content;
    width: 50%;
    transform: rotate(0) translate(-50%, -50%);

    background: $backgroundColor5;
    border-radius: 10px;
  }

  .modal::before {
    content: none;
  }
  .modal::after {
    content: none;
  }

  .modal__info {
    transform-origin: 50% 50% 0;
    transform: rotate(0);
    padding: 3% 0;
  }
}

@media only screen  and (min-width: 1224px) {

}