@import "profile";
@import "footer";
@import "logo";


.nav {user-select: none;}

.nav__check {
  display: none;
}

.nav__showmenu {
  position: fixed;
  left: 32px;
  bottom: 32px;
  display: none;
  width: 46px;
  height: 40px;
  z-index: 12;
  background: transparent;
  cursor: pointer;
}

.nav__showmenu span {
  display: block;
  position: absolute;
  top: 19px;
  left: 8px;
  right: 8px;
  height: 2px;
  background: $fontColorWhite;
}

.nav__showmenu span:before, .nav__showmenu span:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background: $fontColorWhite;
}

.nav__showmenu span:before {
  top: -10px;
}
.nav__showmenu span:after {
  bottom: -10px;
}

.nav__back {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
  transition: background-color .3s;
  cursor: pointer;
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  display: flex;
  width: 50vw;
  margin: 0;
  padding: 25% 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  z-index: 11;
  text-transform: uppercase;
  line-height: 2em;
  background: $backgroundColor2;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  backface-visibility: hidden;
}

.menu__header {
  display: flex;
  flex-direction: column;
}

.menu__footer {
  display: flex;
  flex-direction: column;
}

.menu label {
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 3px;
  font-size: calc(1em + 0.4vh);
}

.nav__check:checked~.nav__back {
  background-color: $backgroundColorBack;
  backdrop-filter: blur(14px);
  bottom: 0;
}

.nav__check:checked~.menu {
  transform: translateX(0);
}

#full-screen {
  display: none;
}

.full-screen {
  position: fixed;
  right: 0;
  top: 0;
  size: 50px;
  background: $fontColorGray;
  border-radius: 0 0 0 1.25vh;
  cursor: pointer;
}

.full-screen img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}