.ping-pong__background {
  width: 100%;
  height: 100%;
  background: greenyellow;
}

.ping-pong__player {
  position: absolute;
  //width: 2%;
  //height: 30%;
  transform: translate(-50%, -50%);
  background: orangered;

  transition: all 0s ease 0s;
}

.ping-pong__ball {
  position: absolute;
  //width: 3vh;
  //height: 3vh;
  transform: translate(-50%, -50%);

  background: orangered;
  border-radius: 50%;

  transition: all 0s ease 0s;
}