//.signup {
//  position: absolute;
//  top: 15.23%;
//  left: 50%;
//  transform: translate(-50%, 0);
//  width: 47.34%;
//}

.signup {
  position: absolute;
  width: 479.79px;
  height: 480.52px;
  left: 52%;
  top: 42%;
  background: linear-gradient(121.54deg, #003366 0%, #47798e 101.11%);
  border-radius: 15px;
  transform: rotate(-16.34deg) translate(-50%, -50%);
}

.signup__rotate {
  position: relative;
  left: 55px;
  top: 68px;
  transform: rotate(16.34deg);
}

.signup__logo {
  position: relative;
  left: -44px;
  margin-bottom: 16px;

  @extend %yellow;
  font-size: 44px;
}

.signup__inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.signup__inputs__right {   // TODO оцентрировать аватарку в телефонной раскладке, сделать ее пропорционально сжимающейся
  position: relative;
  width: 300px;
  height: 300px;
  min-width: 200px;
  min-height: 200px;
  padding: 30px;
  margin-top: 32px;
  box-sizing: border-box;

  @extend %white;
  font-size: 30px;
  border: 2px solid $fontColorWhite;
  border-radius: 15px;
  outline: none;
}

.signup__inputs__left {
  margin-right: 30px;
}

.signup__input__label {
  margin-bottom: 5px;

  @extend %white;
  font-size: 21px;
}

.signup__input input{
  width: 399px;
  height: 48px;
  padding-left: 18px;
  box-sizing: border-box;

  @extend %white;
  border: 2px solid $fontColorWhite;
  border-radius: 15px;
  outline: none;
  font-size: 21px;
  background: rgba(0, 0, 0, 0);
}

.signup__input{
  margin-bottom: 17px;
}

.signup__input:last-child{
  margin-bottom: 0;
}

.signup__input input::-webkit-input-placeholder {
  color: rgba(238, 238, 238, 0.5);
}

.signup__input input::-moz-placeholder {
  color: rgba(238, 238, 238, 0.5);
}

.signup__input input:focus{
  @extend %yellow;
  border: 2px solid $fontColorYellow;
}

.signup__buttons {
  display: flex;
  margin-top: 30px;
}

.signup__button input[type='submit'] {
  width: 146px;
  height: 48px;
  margin-right: 30px;
  box-sizing: border-box;

  @extend %yellow;
  font-size: 21px;
  border: 2px solid $fontColorYellow;
  border-radius: 15px;
  outline: none;
  background: rgba(0, 0, 0, 0);
}

.signup__button input[type='button'] {
  width: 146px;
  height: 48px;
  box-sizing: border-box;

  @extend %white;
  font-size: 21px;
  border: 2px solid $fontColorWhite;
  border-radius: 15px;
  outline: none;
  background: rgba(0, 0, 0, 0);
}

