.signin__background {
  position: fixed;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 150;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;

  background: $backgroundColorBack;
  backdrop-filter: blur(14px);
}

.signin {
  position: absolute;
  width: 394.79px;
  height: 392.52px;
  left: 52%;
  top: 42%;

  background: linear-gradient(121.54deg,
          $backgroundColor2 0%,
          $backgroundColor4 101.11%);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  transform: rotate(-16.34deg) translate(-50%, -50%);
}

.signin__rotate {
  position: relative;
  left: 46px;
  top: 57px;
  transform: rotate(16.34deg);
}