.chat__chat-container
    .chat__header
    .chat__main
    .chat__field
        form.form_theme_chat(action='#')
            input.chat__input(type='text')
            input.chat__button(type='submit', value='Отправить')