label(for="mod0" class="model__background")
div(class="modal")
    label(class="modal__close" for="mod0") &times;
    div(class="modal__info")
        div(class="form__logo") Sign In
        form(action="#" method="post" class="signin__form")
            div
                div(class="form__input")
                    div(class="form__label") Username
                    input(type="text" name="username" placeholder="Ivanov@mail.ru" maxlength="32" required)

                div(class="form__input")
                    div(class="form__label") Password
                    input(type="password" name="password" maxlength="32" required)


            div(class="form__buttons")
                div(class="form__button")
                    input(type="submit" value="Sign In")

                div(class="form__button")
                    label(for="mod2")
                        div Sign Up