.match.match_theme_header.match_theme_row2
    .match__item.match__item_theme_position #
    .match__item.match__item_theme_name.match__item_theme_1
        .match__item__username Bot ID
    .match__item.match__item_theme_game Game
    .match__item.match__item_theme_verify Is verified
    .match__item.match__item_theme_score Score
.content.matches-content
    .content.part-matches-content
    .match.match_theme_load-more
        input#loadMoreBots.hidden(type='button')
        label.match__item.match__item_theme_load.link.pointer(for='loadMoreBots') Load more