.match__item.match__item_theme_position= position
.match__item.match__item_theme_name.match__item_theme_1
    .match__item__avatar.match__item__avatar_theme_row
        img.pointer.hidden
    .match__item__username.link.pointer= `${username} (#${id})`
.match__item.match__item_theme_score= score