.match__item.match__item_theme_position= position
.match__item.match__item_theme_name.match__item_theme_1
    .match__item__username= `#${id}`
.match__item.match__item_theme_game= game
.match__item.match__item_theme_verify
.match__item.match__item_theme_score= score