.play__item__vertical-line {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  transform: translateX(50%);
  background: $fontColorWhite;

  z-index: 5;
}

.play__item__vertical-line:hover {
  background: $fontColorYellow;
}

@media only screen and (max-width : 480px) and (orientation: portrait) {
  .play__item__vertical-line {
    display: none;
  }
}

@media only screen and (max-width : 900px) and (orientation: landscape) {
  .play__item__vertical-line {
  }
}