.play__item__vetical-line__outline {
  position: absolute;
  width: 26px;
  height: 100%;
  transform: translateX(-50%);
  cursor: col-resize;
}

@media only screen and (max-width : 480px) and (orientation: portrait) {
  .play__item__vetical-line__outline {
    display: none;
  }
}

@media only screen and (max-width : 900px) and (orientation: landscape) {
  .play__item__vetical-line__outline {
  }
}