.form__buttons {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 7%;
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
  .form__buttons {
    flex-direction: column;
    align-items: center;
  }

  .container_theme_settings .form__buttons {
    margin-top: 6%;
  }
}

@media only screen and (max-width : 900px) and (orientation: landscape) {
  .form__buttons {
    flex-direction: column;
    align-items: center;
  }

  .container_theme_settings .form__buttons {
    margin-top: 6%;
  }
}