.play__item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  width: 100%;
  outline: none;
}

summary {
  display: block;
}

.game__container-item .play__item__header::-webkit-details-marker {
  display: none;
}

.game__container-item .play__item__header::before {
  content: '▸ ' attr(data-name);
  padding: 0.3em 0.5em;

  @extend %white;
  font-size: 0.9em;
}

.game__container-item .play__item__header:hover::before {
  color: $fontColorYellow;
}


.game__container-item details[open] > .play__item__header::before {
  content: '▾ ' attr(data-name);
}