.carousel__item_theme_prev {
  left: -25%;
  z-index: -1;
  transform-origin: left center;
  transform: rotateY(30deg) scale(0.75);
}

@media only screen and (max-width : 1024px) and (orientation: portrait) {
  .carousel__item_theme_prev {
    left: auto;
    top: 25%;
    transform: rotateX(30deg) scale(0.75);
    transform-origin: bottom center;
    border-radius: 1.25vh;
  }

  .carousel__item_theme_prev * {
    border-radius: 1.25vh;
  }
}
