.carousel__item {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  //background-image: url("../../../../img/Data-wing-4_1516196099-e1516208811916.jpg"); TODO картинки
  background-size: contain;
  will-change: transform;
  backface-visibility: hidden;
  border-radius: 1.25vw;

  animation-duration: 1s;
  transition: .5s ease-in-out 0s, transform 0s ease 0s;
}