.carousel__item_theme_center {
  left: 0;
  box-shadow: -60px 0 136px -15px rgba(0,0,0,.67),
  60px 0 136px -15px rgba(0,0,0,.67),
  5px 5px 15px 5px transparent;
}

.carousel__item_theme_center::after {
  content: '<' attr(data-content) '/>';
  position: absolute;
  left: 0;
  bottom: -15%;

  display: inline-block;
  @extend %yellowLogo;
  font-size: calc(1em + 0.6vw);
  white-space: nowrap;
  z-index: 5;
}

@media only screen and (max-width : 1024px) and (orientation: portrait) {
  .carousel__item_theme_center {
    left: auto;
    top: 0;
  }

  .carousel__item_theme_center::after {
    left: auto;
    bottom: 0;
    right: 0;
    padding: 1.9%;

    background: $backgroundColorBack2;
    border-radius: 1.25vh 0 0 0;
    font-weight: 600;
    font-size: calc(1em + 0.4vh);
  }
}

@media only screen and (max-width : 900px) and (orientation: landscape)  {
  .carousel__item_theme_center::after {
    bottom: -20%;

    font-size: calc(1em + 0.4vh);
  }
}
