.avatar__text-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1.2em;

  font-family: $fontFamaly2;
  color: $fontColorGray;
  font-size: 1.1em;
  border-radius: 15px;
  outline: none;
}