.game-menu__content-right {
  margin-bottom: 2%;
}

@media only screen and (max-width : 480px) and (orientation: portrait) {
  .game-menu__content-right {
    width: 100%;
    margin-bottom: 0;
  }
}

@media only screen and (max-width : 900px) and (orientation: landscape) {
  .game-menu__content-right {

  }
}
