.match__item.match__item_theme_name.match__item_theme_1
    .match__item__avatar
        img.hidden
    .match__item__username
.match__item.match__item_theme_diff-1
.match__item.match__item_theme_diff-2
.match__item.match__item_theme_name.match__item_theme_2
    .match__item__username
    .match__item__avatar
        img.hidden