label.background.background_theme_popup(for=closeId)
.container.container_theme_modal.container_theme_straight
    label.close-button.close-button_theme_modal.color-yellow.pointer(for=closeId) &times;
    .content.modal-content.modal-content_theme_straight