.atod__player1__text Me
.atod__player2__text Enemy

svg.atod(viewbox='0 0 1000 500', fill='none', xmlns='http://www.w3.org/2000/svg')
    rect.atod__background(title='Enemy flag 1' width='1000' height='500')

    circle.atod__resp.atod__dropzone_me
    circle.atod__resp.atod__dropzone_enemy

    circle.atod__player.atod__tank.atod__player1(title='My tank')
    circle.atod__player.atod__healer.atod__player1(title='My healer')
    circle.atod__player.atod__sniper.atod__player1(title='My sniper')
    circle.atod__player.atod__dd1.atod__player1(title='My carry')
    circle.atod__player.atod__dd2.atod__player1(title='My carry')

    circle.atod__player.atod__tank.atod__player2(title='Enemy tank')
    circle.atod__player.atod__healer.atod__player2(title='Enemy healer')
    circle.atod__player.atod__sniper.atod__player2(title='Enemy sniper')
    circle.atod__player.atod__dd1.atod__player2(title='Enemy carry')
    circle.atod__player.atod__dd2.atod__player2(title='Enemy carry')

    rect.atod__flag.atod__flag_me.atod__flag1(title='My flag 1' width='20' height='20')
    rect.atod__flag.atod__flag_me.atod__flag2(title='My flag 2' width='20' height='20')

    rect.atod__flag.atod__flag_enemy.atod__flag1(title='Enemy flag 1' width='20' height='20')
    rect.atod__flag.atod__flag_enemy.atod__flag2(title='Enemy flag 2' width='20' height='20')