.atod__background
.atod__player1__text Me
.atod__player2__text Enemy

.atod__resp.atod__dropzone_me
.atod__resp.atod__dropzone_enemy

.atod__player.atod__tank.atod__player1(title='My tank')
.atod__player.atod__healer.atod__player1(title='My healer')
.atod__player.atod__sniper.atod__player1(title='My sniper')
.atod__player.atod__dd.atod__player1(title='My carry')
.atod__player.atod__dd.atod__player1(title='My carry')

.atod__player.atod__tank.atod__player2(title='Enemy tank')
.atod__player.atod__healer.atod__player2(title='Enemy healer')
.atod__player.atod__sniper.atod__player2(title='Enemy sniper')
.atod__player.atod__dd.atod__player2(title='Enemy carry')
.atod__player.atod__dd.atod__player2(title='Enemy carry')

.atod__flag.atod__flag_me.atod__flag1(title='My flag 1')
.atod__flag.atod__flag_me.atod__flag2(title='My flag 2')

.atod__flag.atod__flag_enemy.atod__flag1(title='Enemy flag 1')
.atod__flag.atod__flag_enemy.atod__flag2(title='Enemy flag 2')