.button_theme_main {
  display: flex;
  align-items: center;
  @extend %white;
  font-size: 0.9em;
  border: 1px solid $fontColorWhite;
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
  .container_theme_modal .button_theme_main {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: auto;
    height: auto;
    overflow: inherit;

    font-size: calc(0.9em + 0.7vh);
    border: 0;
    border-radius: 0;
    outline: none;
    background: transparent;
  }
}

@media only screen and (max-width : 900px) and (orientation: landscape) {
  .container_theme_modal .button_theme_main {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: auto;
    height: auto;
    overflow: inherit;

    font-size: calc(0.9em + 0.7vw);
    border: 0;
    border-radius: 0;
    outline: none;
    background: transparent;
  }
}