.button_size_s {
  height: 1.95em;
  padding: 0 1em;
  font-size: 0.9em;
  font-family: $fontFamaly2;
}

@media only screen and (max-width : 480px) and (orientation: portrait) {
  .button_size_s {
    border-radius: 6px;
  }
}

@media only screen and (max-width : 900px) and (orientation: landscape) {
  .button_size_s {
  }
}