.full-screen-button {
  size: 50px;
  background: $fontColorGray;
  border-radius: 0 0 0 1.25vh;
  user-select: none;
}

@media only screen and (max-width : 480px) and (orientation: portrait) {
  .full-screen-button {
    border-radius: 1.25vh 0 0 0;
  }
}

@media only screen and (max-width : 900px) and (orientation: landscape) {
  .full-screen-button {
    border-radius: 1.25vh 0 0 0;
  }
}