img.background.background_theme_gamemenu-img(src='')
.background.background_theme_gamemenu

.container.container_theme_game-menu
    .game-menu__left
        .game-menu__header
            .game-menu__header__logo= title
            label(for='option3')
                div.button.button_theme_main.button_theme_play.pointer Play
        .game-menu__options
            label.game-menu__options__item.pointer.color-yellow.scale-on-hover-s(for='option0') Description
            label.game-menu__options__item.pointer.color-yellow.scale-on-hover-s(for='option1') LeaderBoard
            label.game-menu__options__item.pointer.color-yellow.scale-on-hover-s(for='option2') Matches
            label.game-menu__options__item.pointer.color-yellow.scale-on-hover-s(for='option3') Game
        .game-menu__main
            .game-menu__line
            .game-menu__content
    .game-menu__right
        img.game-menu__right__item(src='')
.options__check
    input#option0.hidden(type='radio', name='options')
    input#option1.hidden(type='radio', name='options')
    input#option2.hidden(type='radio', name='options')
    input#option3.hidden(type='radio', name='options')