#game.game__menu
    .game__background__img
        img(src='img/Data-wing-4_1516196099-e1516208811916.jpg')
        .game__background
    .game
        .game__first__line
            .game__logo= title
            .game__start
                | Let&apos;s play
        .game__options__line
            div
                label(for='option0') Description
            div
                label(for='option1') LeaderBoard
            div
                label(for='option2') Game
        .game__main
            .game__left__content
                .game__line
                .game__content
            .game__right__content
                img(src='img/hqdefault.jpg')
        .options__check
            input#option0.option__check(type='radio', name='options')
            input#option1.option__check(type='radio', name='options')
            input#option2.option__check(type='radio', name='options')