.chat__main__message__header
    .chat__main__message__header__author= author
    input.hidden(id=`messageSettings${id}` type='checkbox')
    .chat__main__message__header__settings.pointer.color-yellow ⚙
.chat__main__message__text= text