/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Roboto|Titillium+Web");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: currentColor;
  text-decoration: none; }

* {
  box-sizing: border-box; }

div.footer__content__item__yellow, .signup__logo, .signup__input input:focus, .signup__button input {
  font-family: Roboto;
  color: gold; }

div.profile__button, div.footer__content__item__white, div.logo__button__postscript, .signup__inputs__right, .signup__input__label, .signup__input input, .signup__button button {
  font-family: IBM Plex Mono;
  color: #eeeeee; }

body {
  height: 100vh;
  background: linear-gradient(230.08deg, #00122d -11.62%, #003366 50.77%, rgba(0, 106, 106, 0.25) 160.07%); }

div.profile__button {
  position: absolute;
  left: 1.2%;
  top: 27px;
  font-size: 26px;
  text-decoration-line: underline; }

div.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0 2.34%;
  bottom: 29px;
  right: 0;
  left: 0; }

div.footer__left__content {
  display: flex; }

div.footer__left__content div {
  margin-right: 80px; }

div.footer__left__content div:last-child {
  margin-right: 0; }

div.footer__content__item__white {
  font-size: 25px;
  text-decoration-line: underline; }

div.footer__content__item__yellow {
  font-size: 25px;
  text-decoration-line: underline; }

div.logo__button {
  position: absolute;
  right: 14%;
  top: 46px;
  font-family: Titillium Web;
  font-weight: 300;
  font-size: 59px;
  color: gold; }

div.logo__button__postscript {
  position: relative;
  top: 14px;
  left: 168px;
  font-size: 22px; }

.main {
  position: relative;
  display: flex;
  top: 50%;
  left: 50%;
  width: calc(50vw - 40px);
  min-width: 516.27px;
  min-height: 253.75px;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  background: #f7477c; }

.main::before {
  content: '';
  padding-top: 50%;
  float: left; }

.main::after {
  content: '';
  display: block;
  clear: both; }

.main__left__arrow {
  position: relative;
  width: 6.86%;
  min-width: 35.45px;
  min-height: 86.05px;
  right: 44.24%; }

.main__left__arrow::before {
  content: '';
  padding-top: 50%;
  float: left; }

.main__left__arrow::after {
  content: '';
  display: block;
  clear: both; }

.main__right__arrow {
  position: relative;
  width: 6.86%;
  min-width: 35.45px;
  min-height: 86.05px;
  left: 44.24%; }

.main__right__arrow::before {
  content: '';
  padding-top: 50%;
  float: left; }

.main__right__arrow::after {
  content: '';
  display: block;
  clear: both; }

.signup {
  position: absolute;
  top: 15.23%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 47.34%; }

.signup__logo {
  position: relative;
  left: -44px;
  margin-bottom: 16px;
  font-size: 44px; }

.signup__inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start; }

.signup__inputs__right {
  position: relative;
  width: 300px;
  height: 300px;
  min-width: 200px;
  min-height: 200px;
  padding: 30px;
  margin-top: 32px;
  box-sizing: border-box;
  font-size: 30px;
  border: 2px solid #eeeeee;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  outline: none; }

.signup__inputs__left {
  margin-right: 30px; }

.signup__input__label {
  margin-bottom: 5px;
  font-size: 21px; }

.signup__input input {
  width: 399px;
  height: 48px;
  padding-left: 18px;
  box-sizing: border-box;
  border: 2px solid #eeeeee;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  outline: none;
  font-size: 21px;
  background: transparent; }

.signup__input {
  margin-bottom: 17px; }

.signup__input:last-child {
  margin-bottom: 0; }

.signup__input input::-webkit-input-placeholder {
  color: rgba(238, 238, 238, 0.5); }

.signup__input input::-moz-placeholder {
  color: rgba(238, 238, 238, 0.5); }

.signup__input input:focus {
  border: 2px solid gold; }

.signup__buttons {
  display: flex;
  margin-top: 30px; }

.signup__button input {
  width: 146px;
  height: 48px;
  margin-right: 30px;
  box-sizing: border-box;
  font-size: 21px;
  border: 2px solid gold;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  outline: none;
  background: transparent; }

.signup__button button {
  width: 146px;
  height: 48px;
  box-sizing: border-box;
  font-size: 21px;
  border: 2px solid #eeeeee;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  outline: none;
  background: transparent; }

.signin__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 150;
  background: rgba(49, 47, 126, 0.51);
  backdrop-filter: blur(14px); }

.signin {
  position: absolute;
  width: 394.79px;
  height: 392.52px;
  left: 52%;
  top: 42%;
  background: linear-gradient(121.54deg, #003366 0%, #47798e 101.11%);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  transform: rotate(-16.34deg) translate(-50%, -50%); }

.signin__rotate {
  position: relative;
  left: 46px;
  top: 57px;
  transform: rotate(16.34deg); }

.settings__delete__button button {
  width: 201px;
  height: 48px;
  box-sizing: border-box;
  font-size: 21px;
  font-family: Roboto;
  color: #F7477C;
  border: 2px solid #F7477C;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  outline: none;
  background: transparent; }

.settings__close__block {
  position: relative;
  left: -32px;
  top: -32px;
  right: 32px;
  width: 300px;
  height: 25px;
  border-radius: 15px 15px 0 0;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  background: linear-gradient(180deg, #58574E 0%, #403F3A 100%); }

.settings__close__icon img {
  position: relative;
  left: 9px;
  top: -5px; }

.game__background__img img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  filter: blur(14px); }

.game__background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 51, 102, 0.58); }

/*# sourceMappingURL=index.css.map */
