.table__cell {
  font-weight: 300;
  padding: 10px 40px;
  border: 2px solid $fontColorWhite;
}

.table__cell:first-child {
  padding: 10px 7px;
}

@media only screen and (max-width : 480px) and (orientation: portrait) {
  .table__cell {
    border: 1px solid $fontColorWhite;
  }
}

@media only screen and (max-width : 900px) and (orientation: landscape) {
  .table__cell {

  }
}