.field__header {
  display: flex;
  height: 0.8em;
  max-width: 399px;
  width: 73vw;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row-reverse;
  margin-bottom: 1.5%;
}