.field__header {
  display: flex;
  height: 0.8em;
  max-width: 399px;
  width: 73vw;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row-reverse;
  margin-bottom: 1.5%;
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
  .field__header {
    height: calc(1em + .5vh);
    max-width: none;
    width: 100%;
  }
}

@media only screen and (max-width : 900px) and (orientation: landscape) {
  .field__header {
    height: calc(1em + .5vw);
    max-width: none;
    width: 100%;
  }
}