.game__container-item_theme_left {
  position: relative;
  grid-area: code;
  display: flex;
  flex-direction: column;
  transition: all 0s ease 0s;
}

@media only screen and (max-width : 480px) and (orientation: portrait) {
  .game__container-item {
    margin-left: 0;
  }
}

@media only screen and (max-width : 900px) and (orientation: landscape) {
  .game__container-item {
  }
}