.game-menu__line {
  position: relative;
  left: -9px;
  height: 0;
  width: calc(100% + 9px);
  margin: 16px 0;
  border-bottom: 2px solid $fontColorWhite;
}

@media only screen and (max-width : 480px) and (orientation: portrait) {
  .game-menu__line {
    display: none;
  }
}

@media only screen and (max-width : 900px) and (orientation: landscape) {
  .game-menu__line {

  }
}