.game__leaderboard
    .game__table__type
        a(href='#') Single player
        a(href='#') Multy player
    table
    .pagination
        span.pagination__first &#xab;
        span.pagination__prev &#x2039;
        span.pagination__page
        span.pagination__page
        span.pagination__page
        span.pagination__next &#x203a;
        span.pagination__last &#xBB;