.game__leaderboard
    .table__types
        .table__types__item.color-white.scale-on-hover.pointer Single player
        .table__types__item.color-white.scale-on-hover.pointer Multy player
    table.table
    .pagination
        span.pagination__item.pagination__first.pointer &#xab;
        span.pagination__item.pagination__prev.pointer &#x2039;
        span.pagination__item.pagination__page.pointer
        span.pagination__item.pagination__page.pointer
        span.pagination__item.pagination__page.pointer
        span.pagination__item.pagination__next.pointer &#x203a;
        span.pagination__item.pagination__last.pointer &#xBB;