#main.main
    .main__center
        .carusel
            input#car0(type='radio', name='car', checked='checked')
            div
            input#car1(type='radio', name='car')
            div
                label.carusel__arrow(for='car0')
                    img(src='img/left-arrow.svg')
                label(for='car0')
                    div.carusel__item
            input#car2(type='radio', name='car')
            div
                label.carusel__arrow(for='car1')
                    img(src='img/left-arrow.svg')
                label(for='car1')
                    div.carusel__item
            input#car3(type='radio', name='car')
            div
                label.carusel__arrow(for='car2')
                    img(src='img/left-arrow.svg')
                label(for='car2')
                    div.carusel__item