.form_theme_settings {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
  align-content: flex-start;
  padding-bottom: 12%;
}

@media only screen and (max-width : 480px) and (orientation: portrait) {
  .form_theme_settings {
    padding-bottom: 0;
  }
}

@media only screen and (max-width : 900px) and (orientation: landscape) {
  .form_theme_settings {
    width: 50vw;
    padding-bottom: 0;
  }
}