.scrollable__wrapper {
  position: relative;
  overflow: hidden;
}

.scrollable__area {
  position: absolute;
  height: 100%;
  padding-right: 12.5px;
  overflow-y: scroll;
}

.scrollable__area::-webkit-scrollbar {
  width: 0;
}