.game-menu__right {
  margin-bottom: 2%;
  margin-top: 5em;
}

@media only screen and (max-width : 480px) and (orientation: portrait) {
  .game-menu__right {
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media only screen and (max-width : 900px) and (orientation: landscape) {
  .game-menu__right {

  }
}
