.container_theme_modal {
  transform: translate(0, -50%);
  display: flex;
  font-size: 16px;
  z-index: 15;
}

//@media only screen and (min-width: 480px) and (max-width: 1024px) and (orientation: portrait) {
//  .container_theme_modal {
//    font-size: 22px;
//  }
//}
//
//@media only screen and (max-width: 480px) and (orientation: portrait) {
//  .container_theme_modal {
//    position: absolute;
//    top: 45%;
//    width: 100%;
//    transform: rotate(0) translate(-50%, -50%);
//
//    background: $backgroundColor5;
//    border-radius: 0;
//  }
//
//  .container_theme_modal::before {
//    content: none;
//  }
//  .container_theme_modal::after {
//    content: none;
//  }
//}
//
//@media only screen and (max-width : 900px) and (orientation: landscape) {
//  .container_theme_modal {
//    position: absolute;
//    width: 50%;
//    transform: rotate(0) translate(-50%, -50%);
//
//    background: $backgroundColor5;
//    border-radius: 10px;
//  }
//
//  .container_theme_modal::before {
//    content: none;
//  }
//  .container_theme_modal::after {
//    content: none;
//  }
//}