.container_theme_main {
  width: 44.53%;
  min-width: 615px;
  max-width: 100vw;
}

@media only screen and (max-width : 1024px) and (orientation: portrait) {
  .container_theme_main {
    width: 100%;
    min-width: 0;
  }
}

@media only screen and (max-width : 900px) and (orientation: landscape)  {
  .container_theme_main {
    min-width: 0;
  }
}
