.chat__chat-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 315px;
  min-height: 470px;
  width: 23vw;
  height: 57vh;

  overflow: hidden;

  border: 1px solid $fontColorWhite;
  border-radius: 15px;
  background: $backgroundColorBack2;
}