.scrollbar-container {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 98.5%;
  margin: 0 3px;
  background: rgba($fontColorWhite, 0.2);
  border-radius: 5px;
  opacity: 0;
}

.scrollbar-container:hover {
  opacity: 1;
}

.scrollbar-container_theme_visible {
  opacity: 1;
}