.form__header {
  position: relative;
  left: -44px;
  display: flex;
  align-items: center;
  margin-bottom: 4%;
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
  .form__header {
    position: static;
    left: auto;
    margin-left: 7%;
  }

  .container_theme_settings .form__header {
    text-align: left;
    margin-left: calc(10px + 2%);
  }
}

@media only screen and (max-width : 900px) and (orientation: landscape) {
  .form__header {
    position: static;
    left: auto;
    margin-left: calc(10px + 2%);
  }

  .container_theme_settings .form__header {
    text-align: left;
    margin-left: 7%;
  }
}