.field {
  width: 15vw;
  min-width: 267px;
  margin-top: 14%;
}

//@media only screen and (max-width: 480px) and (orientation: portrait) {
//  .field {
//    margin-bottom: 3%;
//  }
//}
//
//@media only screen and (max-width : 900px) and (orientation: landscape) {
//  .field {
//    margin-bottom: 3%;
//  }
//}