.field__main__eye {
  position: absolute;
  right: 0.4em;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

//@media only screen and (max-width: 480px) and (orientation: portrait) {
//  .field__main__show-password {
//    font-size: calc(0.9em + 0.5vh);
//  }
//}
//
//@media only screen and (max-width : 900px) and (orientation: landscape) {
//  .field__main__show-password {
//    font-size: calc(0.9em + 0.5vw);
//  }
//}