.field__main__show-password {
  position: absolute;
  top: 50%;
  transform: translate(-160%, -50%);
  display: inline-block;
}

.field__main__input:focus ~ .field__main__show-password{
  color: $fontColorYellow;
}