.field__main__show-password {
  position: absolute;
  top: 50%;
  transform: translate(-160%, -50%);
  display: inline-block;

  color: $fontColorWhite;
  font-size: 0.9em;
}

.field__main__input:focus ~ .field__main__show-password{
  color: $fontColorYellow;
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
  .field__main__show-password {
    font-size: calc(0.9em + 0.5vh);
  }
}

@media only screen and (max-width : 900px) and (orientation: landscape) {
  .field__main__show-password {
    font-size: calc(0.9em + 0.5vw);
  }
}