.play__item__content_theme_rules {
  @extend %white;
  line-height: normal;
  font-weight: 300;
}
.play__item__content_theme_rules *{
  margin-bottom: 0.5em;
}

.play__item__content_theme_rules *:last-child{
  margin-bottom: 0;
}

.play__item__content_theme_rules h1, h2, h3, h4 {
  font-weight: 300;
}

.play__item__content_theme_rules h2 {
  padding-left: 1em;
}

.play__item__content_theme_rules h3 {
  padding-left: 2em;
}

.play__item__content_theme_rules h4 {
  padding-left: 3em;
}

.play__item__content_theme_rules p, ul {
  padding-left: 4em;
}

.play__item__content_theme_rules code {
  color: $fontColorYellow;
  font-style: italic;
}