label.background.background_theme_popup(for='mod0')
.container.container_theme_modal
    label.close-button.close-button_theme_modal.color-yellow.pointer(for='mod0') &times;
    .content.modal-content