.main-content {
  width: 100%;
}

.main-content::before {
  content: 'Choose a ${game}';
  position: relative;
  bottom: 2vw;
  left: 50%;
  transform: translateX(-50%);

  display: inline-block;
  @extend %white;
  font-size: calc(1em + 0.6vw);
  white-space: nowrap;
  z-index: 5;

}