.container.container_theme_start
    .logo.pointer
        .logo__main.logo__main_theme_start.light-l-yellow [ WarScript ]
        .logo__postscript.logo__postscript_theme_start by HotCode
    .start-content.pointer.light-s-white.scale-on-hover Tap to start