.field__main__label {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 1em;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  pointer-events: none;

}

.field__main__label__text {
  perspective: 500px;
  display: inline-block;
  font-size: 0.9em;
  @extend %white;
}

.field__main__label__text__letter {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  animation: letterAnimOut 0.25s ease forwards;
}

.field__main__label__text__letter_theme_active {
  animation: letterAnimIn 0.25s ease forwards;
}

@keyframes letterAnimIn{
  0%{
    transform: translate(0, 0);
  }
  25%{
    transform: translate(0,10px);
    color: $fontColorBag;
  }
  45%{
    transform: translate(0,10px);
    opacity: 0;
    color: $fontColorBag;
  }
  55%{
    transform: translate(0,10px);
    opacity: 0;
  }
  56%{
    transform: translate(-1em,-2em);
    opacity: 0;
    color: $fontColorYellow;
  }
  76%{
    color: $fontColorYellow;
    opacity: 1;
    transform: translate(-1em, -2em);
  }
  100%{
    transform: translate(-1em, -2em);
    opacity: 1;
  }
}

@keyframes letterAnimOut{
  0%{
    transform: translate(-1em, -2em);
    opacity: 1;
  }
  25%{
    transform: translate(-1em,-2.6em);
    opacity: 0;
  }
  45%{
    transform: translate(0,10px);
    opacity: 0;
  }
  55%{
    transform: translate(0,10px);
    opacity: 0;
    color: $fontColorBag;
  }
  56%{
    transform: translate(0,10px);
    color: $fontColorBag;
  }
  100%{
    transform: translate(0, 0);
  }
}

//@media only screen and (max-width: 480px) and (orientation: portrait) {
//  .field__main__label {
//    left: $input_padding;
//    font-size: calc(0.9em + 0.5vh);
//  }
//
//  .field__main__input:placeholder-shown:focus ~ .field__main__label{
//    left: $input_padding;
//  }
//}
//
//@media only screen and (max-width : 900px) and (orientation: landscape) {
//  .field__main__label {
//    left: $input_padding;
//    font-size: calc(0.9em + 0.5vw);
//  }
//
//  .field__main__input:placeholder-shown:focus ~ .field__main__label{
//    left: $input_padding;
//  }
//}