.content.game-content
    .play__item.play__item_theme_editor
        form.form.form_theme_editor(action='#', method='post')
            .play__item__header
                button.button.button_theme_main.button_size_s.pointer(type='button') Settings
                button.button.button_theme_submit.button_size_s.pointer(type='submit') Start
            .play__item__content.play__item__content_theme_editor
    .play__item.play__item_theme_screen
        .play__item__header
            button.button.button_theme_main.button_size_s.pointer(type='button') Settings
        .play__item__content.play__item__content_theme_screen
            include ../../../../components/games/ping-pong/ping-pong
    .play__item.play__item_theme_rules
        .play__item__header
            button.button.button_theme_main.button_size_s.pointer(type='button') Settings
        .play__item__content.play__item__content_theme_rules
    .play__item.play__item_theme_console
        .play__item__header
            button.button.button_theme_main.button_size_s.pointer(type='button') Settings
        .play__item__content.play__item__content_theme_console