.play
    .play__code.play__grid__item
        form.play__code__form(action='#', method='post')
            .play__instruments
                button.play__button Settings
                button.play__button(type='submit') Start
            .play__editor
    .play__screen.play__grid__item
        .play__instruments
            button.play__button Settings
        .play__screen__game.play__content
            include ../../../../components/games/ping-pong/ping-pong
    .play__rules.play__grid__item
        .play__instruments
            button.play__button Settings
        .play__rules__content.play__content
    .play__console.play__grid__item
        .play__instruments
            button.play__button Settings
        .play__console__content.play__content